/* inter-regular - latin */
@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/inter-v13-latin-regular.woff2") format("woff2");
}
/* inter-600 - latin */
@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("fonts/inter-v13-latin-600.woff2") format("woff2");
}
/* inter-900 - latin */
@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("fonts/inter-v13-latin-900.woff2") format("woff2");
}
.body {
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2;
}

.header {
    width: 1440px;
    height: 768px;
    background-color: white;
    top: 0;
    left: 0;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 16px;
    align-items: center;
    margin-left: 52px;
    margin-right: 52px;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
}

.header_item {
    margin-right: 40px;
}

.header_item:last-child {
    margin-right: 0;
}

.header_icon_link {
    margin-right: 20px;
    text-decoration: none;
}

.header_icon_link:last-child {
    margin-right: 0;
}

.header_link {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: black;
    text-decoration: none;
}

.content {
    height: 700px;
    display: flex;
    top: 0;
    left: 0;
}

.content_item {
    height: 700px;
    width: 736px;
    flex-shrink: 0;
}

.content_text {
    padding-top: 207px;
    padding-bottom: 207px;
    padding-right: 134px;
    padding-left: 100px;
}

.see_collection {
    color: black;
    padding-top: 28px;
}

.logos_section {
    display: flex;
    padding: 52px;
    align-items: center;
}

.logos_content {
    width: 1336px;
    height: 192px;
    border-top: 1px solid #D0D5DD;
    border-bottom: 1px solid #D0D5DD;
    align-items: center;
}

.logo_group {
    display: flex;
    gap: 48px;
    margin-top: 56px;
    margin-bottom: 56px;
    align-items: center;
    justify-content: center;
}

.banner_grid {
    display: flex;
    padding: 52px;
    align-items: center;
}

.cards {
    display: flex;
    gap: 32px;
}

.banner_text {
    color: #5F6980;
    text-align: center;
}

.banner_text_h {
    text-align: center;
}

.main_content {
    display: flex;
    padding: 52px;
}

.main_content_text {
    padding-top: 144px;
    padding-bottom: 144px;
    padding-left: 114px;
    padding-right: 100px;
}

.button {
    background-color: black;
    color: white;
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.CTA {
    display: flex;
    padding: 52px;
}

.Image_placeholder {
    display: flex;
    border: 1px solid #D0D5DD;
    border-radius: 10px;
    width: 1336px;
    height: 334px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.CTA_header {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 478px;
}

.email_content {
    color: #9D9FA1;
    display: flex;
    align-items: center;
    gap: 4px;
    border-bottom: 1px solid #D0D5DD;
}

.email {
    width: 395px;
}

.button_signup {
    border: 0;
    background-color: white;
}

.banner_image {
    display: flex;
    padding: 52px;
}

.banner_paste_image {
    background: url(images/Pasteimage5.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1336px;
    height: 494px;
    flex-shrink: 0;
    color: white;
}

.learn_more {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #D0D5DD;
}

.footer {
    display: flex;
    height: 381px;
    padding: 72px 52px 32px 52px;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    align-self: stretch;
    background: #F9FAFB;
}

.footer_content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 384px;
    top: 0;
}

.left {
    display: flex;
    width: 310px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.icons {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.columns {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 120px;
}

.product_columns {
    display: flex;
    width: 134px;
    flex-direction: column;
    align-items: flex-end;
}

.links {
    text-decoration: none;
    color: #5F6980;
}

.support_columns {
    display: flex;
    width: 134px;
    flex-direction: column;
    align-items: flex-end;
}

.logo_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.bottom {
    display: flex;
    padding-top: 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 1004px;
    border-top: 1px solid #D0D5DD;
}

.bottom_text {
    width: 154px;
    color: #5F6980;
    align-items: center;
}

.bottom_button {
    display: flex;
    align-items: center;
    gap: 32px;
}

/*# sourceMappingURL=index.css.map */